@use "~/styles.scss";

.loading {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: styles.$background;
  align-items: center;
  height: 100dvh;
  width: 100dvw;

  .pulsing-text {
    font-family: 'Jaro';
    color: #fdfe14;
    font-size: 80px;
    font-weight: 100;
    position: relative;
  }
  .pulsing-text::before {
    content: "Plus Ultra!";
    width: 120%;
    position: absolute;
    top: 5px;
    left: 5px;
    color: black;
    z-index: -1;
  }

  &.active {
    .pulsing-text {
      animation: pulse 2s ease-in infinite alternate-reverse;
    }
  }
  &:not(.active) {
    animation: fadeout 0.4s ease-in forwards;
    .pulsing-text{
      animation: shrink 0.4s ease-in forwards;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

@keyframes fadeout {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0;
  }
}

@keyframes shrink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
