@use "../styles.scss";
nav {
  height: styles.$navbar-height;
  padding: 10px;
}

.container {
  opacity: 0;
  animation: fadein 0.4s 0.4s ease-in forwards;
}

.content {
  height: calc(100dvh - styles.$navbar-height);
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container.loading{
  display: none;
}

