/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "./theme/variables.scss";

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: inherit;
  }
  &:hover{
    text-decoration: underline;
  }
}

.page {
  opacity: 0;
  animation: fadein 0.4s 0.4s ease-in forwards;
}

.container {
  max-width: 720px;
}

@keyframes fadein {
  0% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0;
    display: none;
  }
  100% {
    transform: scale3d(1);
    display: block;
    opacity: 1;
  }
}
